body{
    background-color:#24353F;
}
.btn {
    background-color: transparent;
    background-image: none;
    border: 1px solid  #ffc107;
}
.btn:hover{
    background-color: #ffc107;
}
.group {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
h1{
    color: #17A2B8;
}
.box{
    height: 70vh;
}